.timer_count{
   background: var(--primary-color); 
   height: 300px;
}

.timer_count img{
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.store_btn{
    background: #fff;
    color: var(--primary-color);
    font-weight: 600;
}

.store_btn a:hover{
   color: var(--primary-color); 
}